.stories-news__right-list {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.stories-news__right-item {
    width: calc(100% / 2 - 12px);
    padding: 12px;
    border-radius: 5px;
    background-color: #fff;
}

.stories-news__right-item:not(:last-child) {
    margin-bottom: 24px;
}

.stories-news__right-item .img {
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 16px;
}

.stories-news__right-item .content {
    padding: 2px 8px;
}

.stories-news__right-item .title {
    margin-bottom: 4px;
}

.stories-news__right-item .title:hover {
    text-decoration: underline;
    color: #0d4c92;
}

.stories-news__right-item .desc {
    color: #474e68;
    font-size: 14px;
    margin-bottom: 12px;
}

.stories-news__right-item .times-category {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    font-weight: bold;
}

.stories-news__right-item .times-category .time {
    color: #393e46;
}
